@use "./abstracts/" as *;

// Light Mode
body[data-theme="light"] {
  --color-primary: hsl(240, 95%, 62%);
  --color-primary-hover: hsl(240, 58%, 66%);
  --color-text-700: hsl(217, 21%, 21%);
  --color-text-400: hsl(217, 35%, 45%);
  --color-text-300: hsl(217, 20%, 51%);
  --color-text-btn: hsl(0, 0%, 100%);
  --color-text-search: hsl(220, 18%, 16%);
  --color-text-search-placeholder: hsl(217, 35%, 45%);
  --color-body-background: hsl(200, 93%, 88%);
  --color-elements-background: hsl(0, 0%, 100%);
  --color-stats-background: hsl(227, 100%, 98%);
  --color-theme-switch-btn-hover: hsl(220, 18%, 16%);
  --color-errors: hsl(0, 92%, 62%);
}

// Dark Mode
body[data-theme="dark"] {
  --color-primary: hsl(225, 100%, 75%);
  --color-primary-hover: hsl(240, 58%, 66%);
  --color-text-700: hsl(0, 0%, 100%);
  --color-text-400: hsl(0, 0%, 100%);
  --color-text-300: hsl(0, 0%, 100%);
  --color-text-btn: hsl(217, 21%, 21%);
  --color-text-search: hsl(0, 0%, 100%);
  --color-text-search-placeholder: hsl(0, 0%, 100%);
  --color-body-background: hsl(209, 41%, 16%);
  --color-elements-background: hsl(228, 15%, 6%);
  --color-stats-background: hsl(220, 40%, 13%);
  --color-theme-switch-btn-hover: hsl(222, 44%, 70%);
  --color-errors: hsl(0, 92%, 62%);
}

body {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: $fluid-15-16;
  color: var(--color-text-700);

  background-color: var(--color-body-background);

  transition: background-color 250ms ease-in-out;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-block: rem(48px);
  padding-inline: rem(20px);
}

.container {
  width: min(100%, var(--container-max-width));
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block-end: rem(32px);

  &__logo {
    font-size: $fluid-18-20;
    color: var(--color-text-700);
    text-decoration: none;
    font-weight: var(--fw-bold);

    & span {
      color: var(--color-primary);
    }
  }

  &--btn {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    display: flex;
    align-items: center;
    gap: rem(12px);

    font-size: $fluid-14-15;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: var(--color-text-300);
    letter-spacing: rem(2.5px);

    padding: rem(8px);
    cursor: pointer;

    transition: color 200ms ease-in-out;

    &__icon,
    &__icon svg {
      width: rem(20px);
      height: rem(20px);
    }

    & span svg path {
      transition: fill 200ms ease-in-out;
    }

    &:hover,
    &:hover svg path {
      fill: var(--color-theme-switch-btn-hover);
      color: var(--color-theme-switch-btn-hover);
    }
  }
}

.form {
  --height-size: #{rem(40px)};

  display: flex;
  align-items: center;
  gap: rem(16px);

  background-color: var(--color-elements-background);

  padding: rem(16px) rem(16px) rem(16px) rem(24px);
  margin-block-end: rem(32px);

  &__label {
    display: inline-block;

    width: rem(28px);
    height: rem(28px);

    display: grid;
    place-items: center;

    flex-shrink: 0;

    & svg {
      width: rem(25px);
      height: rem(25px);
    }
  }

  &--input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--color-elements-background);

    font-size: $fluid-15-17;
    color: var(--color-text-search-placeholder);
    letter-spacing: rem(1px);

    width: 100%;
    height: var(--height-size);
  }

  &--btn {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;

    width: min(100%, rem(100px));
    height: var(--height-size);

    font-size: $fluid-15-16;
    font-weight: var(--fw-bold);
    color: var(--color-text-btn);

    background-color: var(--color-primary);

    padding-inline: rem(18px);

    transition: background 250ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }
}

.main {
  background-color: var(--color-elements-background);

  padding: rem(32px);
}

.user-contents__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);
  margin-block-end: rem(20px);

  @include media-queries(sm) {
    flex-direction: row;
    margin-block-end: rem(28px);
    gap: rem(56px);
  }
}

.user-contents__bottom > * + * {
  margin-block-start: rem(20px);
}

.user__profile-img {
  width: rem(96px);
  height: rem(96px);

  & img {
    width: 100%;
    height: 100%;

    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: 100vmax;
  }

  @include media-queries(md) {
    width: rem(117px);
    height: rem(117px);
  }
}

.user__information {
  text-align: center;

  & > :not(.user__name) {
    margin-block-start: rem(8px);
  }

  .user__name {
    font-size: $fluid-24-26;
    color: var(--color-text-700);
    font-weight: var(--fw-bold);
    letter-spacing: rem(1px);
  }

  & .user__pseudo-name {
    font-size: $fluid-14-16;
    color: var(--color-primary);
  }

  & .user__joined {
    display: inline-block;

    font-size: $fluid-15-16;
    color: var(--color-text-300);
    margin-block-start: rem(4px);
  }

  @include media-queries(sm) {
    & {
      text-align: left;
    }
  }
}

.user__bio {
  font-size: $fluid-15-16;
  color: var(--color-text-300);
  text-align: center;

  @include media-queries(sm) {
    text-align: left;
  }
}

.user__stats {
  width: min(100%, rem(530px));

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(28px);

  background-color: var(--color-stats-background);

  padding: rem(20px) rem(42px) rem(24px) rem(42px);

  margin-inline: auto;

  & .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10px);

    & p {
      font-size: $fluid-12-14;
      color: var(--color-text-300);
    }
  }

  @include media-queries(sm) {
    justify-content: space-between;
  }
}

.user__links {
  width: min(100%, rem(500px));

  & > * + * {
    margin-block-start: rem(16px);
  }

  &-container,
  &-container a {
    display: flex;
    align-items: center;
    gap: rem(14px);

    font-size: $fluid-15-16;
    color: var(--color-text-400);
    text-decoration: none;
  }

  @include media-queries(md) {
    & {
      display: grid;
      justify-content: space-between;
      align-items: flex-start;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      gap: rem(18px);

      margin-inline: auto;
    }

    & > * + * {
      margin-block-start: 0;
    }
  }
}

.starter {
  font-size: $fluid-15-16;
  text-align: center;
  color: var(--color-text-400);
}

.errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  & .errors-icons svg {
    width: min(100%, rem(350px));
    height: rem(400px);
  }

  & p {
    font-size: $fluid-18-20;
    color: var(--color-errors);
    font-weight: var(--fw-bold);
  }
}

.loader-container {
  display: grid;
  place-items: center;

  width: 100%;
  height: rem(300px);
}

.loader {
  --gradient-1: conic-gradient(
    from 90deg at left 3px top 3px,
    var(--color-text-700) 90deg,
    var(--color-text-700) 0
  );
  --gradient-2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    var(--color-text-700) 90deg,
    var(--color-text-700) 0
  );

  width: rem(85px);
  height: rem(50px);

  background: var(--gradient-1), var(--gradient-1), var(--gradient-1),
    var(--gradient-2), var(--gradient-2), var(--gradient-2);
  background-position: left, center, right;
  background-repeat: no-repeat;

  animation: gradient-animation 1s infinite;
}

@keyframes gradient-animation {
  0% {
    background-size: rem(25px) 50%, rem(25px) 50%, rem(25px) 50%;
  }
  25% {
    background-size: rem(25px) 100%, rem(25px) 50%, rem(25px) 50%;
  }
  50% {
    background-size: rem(25px) 50%, rem(25px) 100%, rem(25px) 50%;
  }
  75% {
    background-size: rem(25px) 50%, rem(25px) 50%, rem(25px) 100%;
  }
  100% {
    background-size: rem(25px) 50%, rem(25px) 50%, rem(25px) 50%;
  }
}

.attribution {
  text-align: center;
  margin-block: min(6%, rem(80px));

  & p {
    font-size: $fluid-14-15;
    color: var(--clr-light-400);
  }

  & a {
    font-size: $fluid-15-16;
    font-weight: var(--fw-bold);
    color: var(--color-primary);

    text-decoration: none;

    transition: all 200ms ease-in-out;

    &:is(:hover, :focus-visible) {
      color: var(--color-primary-hover);
      text-decoration: underline;
    }
  }
}
